<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.ar" />
    
    <application
        android:name="${applicationName}"
        android:label="furnihush"
        android:icon="@mipmap/ic_launcher">
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            
        <meta-data android:name="com.google.ar.core" android:value="required" />
            
    </application>
</manifest> 